body{

    background-color: rgb(0, 0, 0);

}

.p{font-size: 50px; padding-left: 5px;}


.pp{ background-color: rgb(98, 6, 6);  }

.v{padding-left: 1500px; font-size: 25px; padding-bottom:50mm ; }

.v8{padding-left: 10px; font-size: 25px; padding-bottom:50mm ; }

.sh1{}

.legivel{color: white; text-align: center;}

.imgcentralizada{text-align: center;}

*{
padding: 0px;

}